img{
	width: 100%;
	height: auto;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.greyBg{
	background-color: #F1F1F1;
}
.text-danger{
	color: #FF0F0F;
}
.btn-danger{
	background-color: #FF0F0F;
	border-color: #FF0F0F;
}
.ellipsis-1{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.info{
	font-size: 12px;
}
.tmall-logo{
	width: 20px;
}