.coupou-list .col-md-3{
	margin: 20px 0;
}
.coupou-list .highlight{
	font-size: 30px;
}
.good-img{
    height: 260px;
    object-fit: cover;
}

.coupou-list .text{
    background-color: #FFF;
    padding: 5px 20px 10px;
}
.price .quan img{
    width: 20px;
}
.coupou-list .quan{
    line-height: 51px;
}
.coupou-list .price{
    margin-bottom: 0;
}
.coupou-list .col-md-3 {
    margin: 20px 0;
    width: 23%;
    padding: 0;
    margin: 10px 1%;
    border: 1px solid #DCDCDC;
}
.coupou-list .quan span{
    color: #FF0F0F;
    padding: 3px 5px;
    border: 1px solid;
    padding: 0 3px;
    height: 19px;
    line-height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-left: -3px;
    border-radius: 2px;
    font-size: 18px;
    font-weight: bold;
}