.coupou-list .col-md-3{
	margin: 20px 0;
}
.coupou-list .highlight{
	font-size: 30px;
}

.coupou-list .text{
    background-color: #FFF;
    padding: 5px 20px;
}
.price .quan img{
    width: 25px;
}
.coupou-list .quan{
    line-height: 42px;
}
.coupou-list .col-md-3 {
    margin: 20px 0;
    width: 23%;
    padding: 0;
    margin: 10px 1%;
    border: 1px solid #DCDCDC;
}
.coupou-list .quan span{
    color: #FF0F0F;
    padding: 3px 5px;
    border: 2px solid;
}